APP_ENV=development
APP_SECRET_KEY=
FERNET_KEY=

POSTGRES_DB=socialforge
POSTGRES_USER=socialforge
POSTGRES_PASSWORD=

REDIS_PASSWORD=
BOOTSTRAP_ANTHROPIC_KEY=
BOOTSTRAP_OPENAI_KEY=
BOOTSTRAP_REPLICATE_KEY=
BOOTSTRAP_APIFY_KEY=